<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCySR7Aov8oW8rcONaK61C1vzmvNmKjGeI</string>
	<key>GCM_SENDER_ID</key>
	<string>112305148730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-ef858</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-ef858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112305148730:ios:54d1f48144157d148db603</string>
</dict>
</plist>